USE [master]
GO
/****** Object:  Database [ShopManagement3]    Script Date: 21/7/2022 8:32:11 PM ******/
CREATE DATABASE [ShopManagement3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopManagement3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopManagement3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopManagement3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopManagement3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopManagement3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopManagement3]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [varchar](150) NOT NULL,
	[address] [varchar](150) NULL,
	[phone] [varchar](150) NOT NULL,
	[img] [nvarchar](150) NULL,
	[username] [nvarchar](50) NULL,
	[email] [nvarchar](150) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[deleveryId] [int] IDENTITY(1,1) NOT NULL,
	[invoiceId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[shippid] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[employeeName] [varchar](150) NOT NULL,
	[gender] [bit] NOT NULL,
	[phone] [varchar](150) NOT NULL,
	[dob] [date] NOT NULL,
	[img] [varchar](350) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [nvarchar](250) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoiceID] [int] IDENTITY(1,1) NOT NULL,
	[createdDate] [date] NOT NULL,
	[employeeID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](150) NOT NULL,
	[productQuantity] [int] NOT NULL,
	[cost] [float] NOT NULL,
	[price] [float] NOT NULL,
	[img] [varchar](350) NOT NULL,
	[description] [varchar](150) NULL,
	[categoryID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Invoice]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Invoice](
	[quantity] [int] NOT NULL,
	[invoiceID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[employeeID] [int] NOT NULL,
	[state] [bit] NOT NULL,
	[salarytoday] [money] NOT NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[Totalworking] [int] NOT NULL,
	[salaryTotal] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryDetail]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryDetail](
	[employeeID] [int] NOT NULL,
	[day] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Address] [nvarchar](70) NOT NULL,
	[Phone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Shippers] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 21/7/2022 8:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierID] [int] IDENTITY(1,1) NOT NULL,
	[supplierName] [varchar](150) NOT NULL,
	[address] [varchar](150) NOT NULL,
	[phone] [varchar](150) NOT NULL,
	[img] [varchar](350) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [role]) VALUES (N'lunguyen', N'123456As', 1)
INSERT [dbo].[Account] ([username], [password], [role]) VALUES (N'longdt', N'123456Tr', 0)
INSERT [dbo].[Account] ([username], [password], [role]) VALUES (N'cus1', N'123456Aa', 3)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'GongCha')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'HighLand')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Starbucks')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

INSERT [dbo].[ContactUs] ([ContactID], [Name], [Email], [Phone], [Message], [status]) VALUES (1, N'lunguyen2', N'admin@gmail.com', N'0974280518', N'ok', 0)
INSERT [dbo].[ContactUs] ([ContactID], [Name], [Email], [Phone], [Message], [status]) VALUES (2, N'lunguyen2', N'lunguyen2k18@gmail.com', N'974280518', N'ok', 1)
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [customerName], [address], [phone], [img], [username], [email]) VALUES (2, N'Nguyen Van AN', N'71 Tran Hung Dao, Q5, TpHCM', N'0374746755', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqGsPuHzwLsvY8D2EByvtTD5Tjsf6I6YpdPA&usqp=CAU', N'cus1', N'lunguyen2k18@gmail.com')
INSERT [dbo].[Customer] ([customerID], [customerName], [address], [phone], [img], [username], [email]) VALUES (3, N'Nguyen Van Vinh', N'731 Tran Hung Dao, Q9, TpHCM', N'0374143784', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqGsPuHzwLsvY8D2EByvtTD5Tjsf6I6YpdPA&usqp=CAU', N'user12', N'lunguyen2k18@gmail.com')
INSERT [dbo].[Customer] ([customerID], [customerName], [address], [phone], [img], [username], [email]) VALUES (4, N'Bui Tien Cuong', N'Ha Phuong, Thang Thuy, Vinh Bao, Hai Phong', N'0382011918', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqGsPuHzwLsvY8D2EByvtTD5Tjsf6I6YpdPA&usqp=CAU', N'user11', N'lunguyen2k18@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([deleveryId], [invoiceId], [name], [phone], [address], [shippid], [status]) VALUES (1, 103, N'Nguyen Van AN', N'0988888888', N'ok', 1, N'dang van chuyen')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([employeeID], [employeeName], [gender], [phone], [dob], [img], [username], [email]) VALUES (1, N'long', 1, N'123456777', CAST(N'2000-03-03' AS Date), N'https://image-us.24h.com.vn/upload/1-2022/images/2022-03-13/anh-1-1647162766-197-width650height741.jpg', N'longdt', N'cuongbuitien2000@gmail.com')
INSERT [dbo].[Employees] ([employeeID], [employeeName], [gender], [phone], [dob], [img], [username], [email]) VALUES (2, N'lunguyen2', 1, N'546565986', CAST(N'2000-05-31' AS Date), N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsQ3JwG6r9KonRuRXLwCtTn23R2m8KDYKgbQ&usqp=CAU', N'lunguyen', N'lunguyen2k18@gmail.com')
INSERT [dbo].[Employees] ([employeeID], [employeeName], [gender], [phone], [dob], [img], [username], [email]) VALUES (3, N'Bui Tien Cuong', 1, N'8541255488', CAST(N'2000-10-01' AS Date), N'https://1.bp.blogspot.com/-5n_rEz8D0b8/Xk556_wb4KI/AAAAAAAAVVM/Z-v6YSPT3swBVpUWfd7NOForHs-OYRHGACLcBGAsYHQ/s1600/Anh-Trai-Dep-20023456-Wap102%2B%25281%2529.jpg', N'cuongbt', N'cuongbuitien2000@gmail.com')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([invoiceID], [createdDate], [employeeID], [customerID]) VALUES (36, CAST(N'2022-06-22' AS Date), 3, 1)
INSERT [dbo].[Invoice] ([invoiceID], [createdDate], [employeeID], [customerID]) VALUES (37, CAST(N'2022-05-05' AS Date), 3, 2)
INSERT [dbo].[Invoice] ([invoiceID], [createdDate], [employeeID], [customerID]) VALUES (38, CAST(N'2022-06-20' AS Date), 1, 4)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [productName], [productQuantity], [cost], [price], [img], [description], [categoryID]) VALUES (1, N'Peach Berry Green Tea', 4994, 3, 4.05, N'http://gongcha.com.vn/wp-content/uploads/2022/02/Strawberry-Chocolate-Milk-Tea.png', N' Nh? g?n d? dÃ¹ng.', 1)
INSERT [dbo].[Product] ([productID], [productName], [productQuantity], [cost], [price], [img], [description], [categoryID]) VALUES (2, N'Strawberry Smoothie', 484, 3.2, 5.05, N'http://gongcha.com.vn/wp-content/uploads/2022/01/strawberry-cookie-smoothie.png', N'20 chi?c 1 h?p.', 1)
INSERT [dbo].[Product] ([productID], [productName], [productQuantity], [cost], [price], [img], [description], [categoryID]) VALUES (3, N'Cream Top Matcha', 481, 3.1, 5.05, N'http://gongcha.com.vn/wp-content/uploads/2018/02/Tr%C3%A0-s%E1%BB%AFa-Matcha-%C4%91%E1%BA%ADu-%C4%91%E1%BB%8F-2.png', N'gi?y láng m?n, vi?t êm tay', 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_Invoice] ([quantity], [invoiceID], [productID], [price]) VALUES (10, 36, 1, 5000.0000)
INSERT [dbo].[Product_Invoice] ([quantity], [invoiceID], [productID], [price]) VALUES (5, 36, 6, 9000.0000)
INSERT [dbo].[Product_Invoice] ([quantity], [invoiceID], [productID], [price]) VALUES (4, 37, 6, 9000.0000)
GO
INSERT [dbo].[Salary] ([employeeID], [state], [salarytoday], [from], [to], [Totalworking], [salaryTotal]) VALUES (1, 0, 20.8400, CAST(N'2022-07-01' AS Date), CAST(N'2022-07-31' AS Date), 7, 145.8800)
INSERT [dbo].[Salary] ([employeeID], [state], [salarytoday], [from], [to], [Totalworking], [salaryTotal]) VALUES (2, 1, 10.0000, CAST(N'2022-07-01' AS Date), CAST(N'2022-07-31' AS Date), 9, 90.0000)
INSERT [dbo].[Salary] ([employeeID], [state], [salarytoday], [from], [to], [Totalworking], [salaryTotal]) VALUES (3, 0, 5.0000, CAST(N'2022-07-01' AS Date), CAST(N'2022-07-31' AS Date), 6, 30.0000)
GO
INSERT [dbo].[SalaryDetail] ([employeeID], [day]) VALUES (1, CAST(N'2022-07-01' AS Date))
INSERT [dbo].[SalaryDetail] ([employeeID], [day]) VALUES (1, CAST(N'2022-07-02' AS Date))
INSERT [dbo].[SalaryDetail] ([employeeID], [day]) VALUES (1, CAST(N'2022-07-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Shippers] ON 

INSERT [dbo].[Shippers] ([ShipperID], [CompanyName], [Address], [Phone]) VALUES (1, N'GiaoHangTietKiem', N'267 Quan Hoa Ward, Quan Hoa, Cau Giay District, Hanoi', N'1900 6092')
INSERT [dbo].[Shippers] ([ShipperID], [CompanyName], [Address], [Phone]) VALUES (4, N'Viettel Post2', N' Thang Long Boulevard, Me Tri Ward, Nam Tu Liem District, City. Hanoi.', N'19008095')
SET IDENTITY_INSERT [dbo].[Shippers] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplierID], [supplierName], [address], [phone], [img]) VALUES (1, N'Thiên Long', N'Hai Bà Trung - Hà N?i', N'0354874568', N'https://upload.wikimedia.org/wikipedia/vi/3/3b/Logo_thienlong.png')
INSERT [dbo].[Supplier] ([supplierID], [supplierName], [address], [phone], [img]) VALUES (2, N'Parker', N'Ha Noi', N'0354874538', N'https://agiare.vn/wp-content/uploads/2020/01/but-bi-parker.jpg')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
USE [master]
GO
